.container {
    width: 50%;
    max-width: 400px;
    margin: 70px auto auto;
    padding: 20px 30px;

    border: 2px solid var(--borders-color);
    border-radius: 20px;

    text-align: center;
}

.heading {
    font-weight: bold;
}

.error {
    width: 70%;
    min-height: 1rem;
    margin: 10px auto auto;
    font-size: 0.75rem;
    color: #bd4141;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    margin-top: 25px;
    width: 50%;
}

.signInBtn {
    margin-top: 30px;
}