@import '@assets/styles/baseVariables.scss';

$action-button-size: 30px;

@mixin cardContainerPadding($vertical, $horizontal: $vertical) {
    padding: $vertical $horizontal;
}

.cardContainer {
    @include cardContainerPadding(20px, 30px);

    border: 2px solid var(--borders-color);
    border-radius: 20px;

    text-align: center;
}

.date {
    font-size: 0.7rem;
    color: var(--secondary-color-dim);
    text-align: start;
}

@mixin checkSetFontSize($fontSize) {
    @if $fontSize != 0 {
        font-size: $fontSize;
    }
}

@mixin titleFont($fontSize: 0) {
    @include checkSetFontSize($fontSize);

    font-weight: bold;
    font-style: normal;
}

.title {
    @include titleFont();

    margin-top: 10px;
}

@mixin descriptionFont($fontSize: 0) {
    @include checkSetFontSize($fontSize);

    font-weight: normal;
    font-style: normal;
}

.description {
    @include descriptionFont();

    margin-top: 30px;

    &.synaptic {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}


.footer {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.likesAmt {
    font-size: 1.2rem;
}

.likeBtn {
    width: $action-button-size;
    height: $action-button-size;
    margin-left: 8px;
}


.commentsContainer {
    white-space: nowrap;
    cursor: unset;

    &.active {
        cursor: pointer;
    }
}

.commentBtn {
    display: inline-block;
    width: $action-button-size;
    height: $action-button-size;
    vertical-align: middle;

    padding: 3px;
    box-sizing: border-box;

    border-radius: 5px;
    background: transparent;
    transition: background-color 300ms;

    &.btnOpened {
        background-color: var(--primary-color-medium-soft);
    }
}

.commentBtnImg {
    width: 100%;
    vertical-align: middle;
}

.commentsAmt {
    margin-left: 8px;
    font-size: 1.2rem;
    vertical-align: middle;
}


.separator {
    margin: 8px 0;
}