@import '@assets/styles/baseVariables.scss';

.commentsContainer {
    margin-top: 20px;
}

.sortsContainer {
    margin: 0 10px;
    text-align: end;
}

.comment {
    margin-top: 15px;
}

.commentForm {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    box-sizing: border-box;

    border: solid var(--borders-color) 1px;
    border-radius: 5px;
}

.nameInput {
    width: 50%;
    min-width: 150px;
}

.commentInput {
    margin-top: 8px;
    width: 100%;
    min-height: 5rem;
}

.submitBtn {
    margin-top: 8px;
}

.submitBtnText {
    vertical-align: middle;
}

.submitBtnImg {
    width: 12px;
    margin-left: 5px;
    vertical-align: middle;
}