@import '@assets/styles/baseVariables.scss';

.commentContainer {
    padding: 4px 10px 15px 10px;
    border: solid var(--borders-color) 1px;
    border-radius: 10px;

    background: var(--primary-color);

    position: relative;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date {
    font-size: 0.7rem;
    color: var(--secondary-color-dim);
}

.deleteBtn {
    $delete-btn-size: 18px;

    width: $delete-btn-size;
    height: $delete-btn-size;
    padding: 3px;
    box-sizing: border-box;
    flex-grow: 0;
    flex-shrink: 0;

    cursor: pointer;
}

.deleteBtnImg {
    width: 100%;
}

.commentContent {
    margin-top: 7px;
    text-align: start;
}

.author {
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.separator {
    width: 100%;
    margin: 5px 0;
}

.commentText {
    width: 100%;
    overflow-wrap: anywhere;
}

.likesContainer {
    position: absolute;
    right: 8px;
    bottom: 0;
    transform: translateY(40%);
    padding: 0 4px;

    background-color: inherit;
}

.likesAmt {
    font-size: 0.85rem;
}

.likeBtn {
    width: 13px;
    height: 13px;
    margin-left: 4px;
    line-height: 0.85rem;
}