@import '@assets/styles/baseVariables';

.pageContainer {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;

    background: var(--borders-color);
    opacity: 0.2;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 50px;
    text-align: center;

    background: var(--primary-color);
    border-radius: 20px;
}