
:root {
  --primary-color: #fff;
  --primary-color-medium-soft: #efefef;
  --primary-color-soft: #f7f7f7;
  --secondary-color: #444;
  --secondary-color-dim: #777;
  --link-color: #00e;
  --borders-color: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #444;
    --primary-color-medium-soft: #555555;
    --primary-color-soft: #4a4a4a;
    --secondary-color: #fff;
    --secondary-color-dim: #999;
    --link-color: #e80;
    --borders-color: #aaa;
  }
}