@import '@assets/styles/baseVariables.scss';

.inputField {
    display: block;
    padding: 7px 10px;
    box-sizing: border-box;

    border: solid var(--borders-color) 1px;
    border-radius: 5px;
    background: var(--primary-color-soft);
}

.button {
    display: inline-block;
    padding: 5px 10px;
    box-sizing: border-box;

    border: solid var(--borders-color) 1px;
    border-radius: 5px;
    background: var(--primary-color-soft);

    cursor: pointer;

    transition: filter 100ms;

    &:hover {
        filter: brightness(0.93);
    }
}

a {
    color: var(--link-color);
}